@import "./footer.css";
@import "./navbar.css";

@media only screen and (max-width: 600px) {
  
  html {
    overflow: hidden; 
  }

  body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d; 
    
  }

  #intro-block {
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    box-sizing: border-box;
}
#fav-quote {
    width: 100vw;
    height: 100vh;
    padding-top:20vh;
    background-image: url("/multimedia/images/scales-pink.jpg");
    z-index: 2;
  position: relative;
}
#fav-quote::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-image: url("/multimedia/images/scales-pink.jpg");
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2);
}
.card-text {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    background: #aaa;
}

#fav-movie {
  width: 100vw;
    height: 100vh;
    padding-top:20vh;
    background-image: url("/multimedia/images/scales-grey.jpg");
    z-index: 2;
  position: relative;
}

#fav-city {
  width: 100vw;
    height: 100vh;
    padding-top:20vh;
    background-image: url("/multimedia/images/scales-grey.jpg");
    z-index: 2;
  position: relative;
}

#fav-city::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-image: url("/multimedia/images/scale-gold.jpg");
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2);
}

#intro-block::before {
  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-image: url("/multimedia/images/scales.jpg");
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2);
}


  

  /* .container {
    display: grid; 
    max-width: 90vw;
    margin: auto;
    grid-template-columns: 90vw;
    grid-template-rows: 60vh 50vh 50vh 50vh 50vh;
    grid-template-areas:
    "hdr"
    "info-top"
    "info-mid"
    "info-btm"
    "ftr"; /*ftr styles imported above*/ /*
    justify-content: center;
    border: 1px purple solid; 
  } */

  #header {
    /*grid-area: hdr;*/
    position: relative; 
    height: 100vh; 
    width: 100vw; 
    padding-top: 20vh; 
    z-index: -1; 
    transform-style: inherit; /*look this up*/
    border: 2px red solid; 
    margin-top: 50px; 
    transform-style: preserve-3d;
  }

  #header::before {
    content: ""; 
    position: absolute; 
    width: 100vw; 
    height: 100vh; 
    top: 0; left: 0;
    background: url(/multimedia/images/books.jpg);
    background-size: cover;
    z-index: -2;
    transform: translate(-1px) scale(2); 
  }
  
  #hdr-back {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 20vh; 
    position: absolute; 
    box-shadow: 0 0 20px #333; 
    top: 50%; 
    left: 50%; 
    transform: translateZ(-1px) scale(2) translate(-25%, -25%);
  }

  .block {
    position: relative; 
    min-height: 100vh; 
    width: 100%;
    transform-style: inherit;
  }

  #content-wrapper {
    width: 100vw; 
    height: 100vh; 
    padding-top: 20vh;
    background-image: url(/multimedia/images/design.jpg);
    z-index: 4; 
    position: relative; 
  }

  #fav-quote {
    
    box-shadow: 0 0 20px #333; 
    z-index: 1; 
  }

  #quote-text {
    z-index: 3; 
    margin: 0 auto; 
    padding: 50px; 
    width: 50%; 
    background: pink; 
  }

  #fav-food {
    content: ""; 
    position: absolute; 
    top: 0; left: 0; right: 0; bottom: 0; 
    display: block; 
     
    background-size: cover;
    transform: translteZ(-0.5px) scale(1.6); 
    z-index: -1; 
  }

  .box {
    display: flex; 
    align-items: center;
    flex-direction: column;
  }

 
@media only screen and (min-width: 601px) {
  body {
    margin: 0; 
  }

  .box {
    display: flex; 
    align-items: center;
    flex-direction: column;
  }
}