@import "./footer.css";
@import "./navbar.css";

@media only screen and (max-width: 600px) {


body {
  margin: 0; 
  overflow-x: hidden;
  background-image: linear-gradient(rgb(80, 37, 179), white);
}


.container {
    display: grid; 
    max-width: 100vw;
    margin: auto;
    grid-template-columns: 90vw;
    grid-template-rows: 30vh 75vh 75vh 75vh 1fr;
    grid-template-areas:
    "hdr"
    "top"
    "mid"
    "btm"
    "ftr"; /*ftr styles imported above*/ 
    justify-content: center;
    grid-gap: 20px; 
  }

  header {
    grid-area: hdr;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 100px;  
    background: rgb(230, 230, 230); 
    border-radius: 8px;
    font-family: 'Bangers', cursive;
  }

  #fav-movie {
    grid-area: top; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #fav-quote {
    grid-area: mid; 
    display: flex;  
    justify-content: center;
    align-items: center;
  }
  #fav-city {
    grid-area: btm; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 75%;
    height: 60%;
    border-radius: 8px;
    z-index: 20;
    transition: 0.5s ease; 
    opacity: 1; 
  }
  .image-text {
    position: absolute; 
    text-align: center;
    width: 65%; 
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em; 
  }
  .image:hover {
    transition: 0.5s ease; 
    opacity: 0;
  }


  

  


  #about-background {
    background-color: white; 
  }
  
  .box {
    display: flex; 
    align-items: center;
    flex-direction: column;
  }
  
}


@media only screen and (min-width: 601px) {
  body {
    margin: 0; 
  }

  .box {
    display: flex; 
    align-items: center;
    flex-direction: column;
  }
}