@import "./footer.css";
@import "./navbar.css";

/*small windows*/
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }

  .container { 
    display: grid; 
    width: 90vw; 
    margin: auto; 
    grid-template-columns: 90vw;
    grid-template-rows: 50vh auto auto auto auto; 
    grid-template-areas: 
    "hdr"
    "content"
    "older"
    "bio"
    "ftr"; 
    justify-content: center;
  }

  header {
    grid-area: hdr; 
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .center-text { 
    text-align: center;
  }

  #content {
    grid-area: content;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    border-bottom: 1px black solid; 
    padding-bottom: 10vh; 
  }

  #older {
    grid-area: older; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px; 
  }

  h1 {
    font-family: 'Mukta', sans-serif;
  }

  img {
    display: block;
    margin: 40px auto 10px; 
    width: 75%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 8px #333;
  }

  .bio-wrapper {
    grid-area: bio; 
    display: grid; 
    width: 90vw;
    height: 30vh; 
    grid-template-columns: 38vw 40vw;  
    grid-template-rows: 30vh;
    grid-template-areas: 
    "pic about";
    justify-content: center;
    grid-gap: 20px; 
  }

  .bio-img {
    background-image: url(/multimedia/images/portugal.jpg);
    background-size: contain;
    border-radius: 10px;
    background-repeat: no-repeat;
  }
  .bio-abt {
    grid-area: about; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  p,
  li, 
  h2, 
  h3, 
  figcaption {
    font-family: 'Montserrat', sans-serif; 
  }

  #footer {
    grid-area: ftr; 
  }
}