.navbar {
  position: fixed; 
  overflow: hidden; 
  width: 100vw;
  background-color: #53b; 
  padding: 10px 20px 10px;
  z-index: 100;
}
.navbar a {
  display: inline-flex;
  justify-content: center;
  padding: 5px;  
  text-decoration: none;
  }

  button {
    background-color: transparent;
    border: 2px #dcc solid;
    border-radius: 5px; 
    margin: 0px 5px; 
    color: #dcc; 
    padding: 8px; 
  }
  button:hover {
    border: 2px solid #fff; 
    color: #fff;
  }
  button:active {
    border: 2px solid #eca; 
    color: #eca; 
  }