body {
  background-color: #38E; 
}

/*Display for small screens*/
.container {
  display: grid;
  width: 90%;  /*90% of view width*/
  margin: auto; 
  grid-template-columns: 100%;
  grid-template-rows: 50px 250px 1fr;
  grid-template-areas:
  "info-row"
  "main"
  "coming-soon";
}

.box {
  border: 2px red solid; 
}

#nested-grid {
  display: grid; 
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  border: 2px red solid; 
}

/*styling for header*/
#header {
  text-align: center;
  font-family: 'Concert One', cursive; /*Google font*/
  font-size: 1.5em;  
}

.nav-links {
  color: #CDF;
}

/*media query breakpoints*/
