

/*small windows*/
@media only screen and (max-width: 600px) {
  #container {
    display: grid; 
    width: 90vw;
    height: 100vw; 
    margin: auto;
    grid-template-columns: 90vw; /*be sure to split the width equally*/
    grid-template-rows: 90vh 25vh 25vh 25vh; 
    grid-template-areas: 
    "top"
    "bottomLeft"
    "nest"
    "btm"
    ; 
    border: 1px red solid; 
  }
  
  .box {
    border: 1px black solid; 
    display: flex; 
    justify-content: center; 
  }
  #navbar {
    position: fixed; 
    overflow: hidden; 
  }
  
  #one {
    grid-area: top;
    padding-top: 100px;
    border: 2px purple dashed; 
  }
  #two {
    grid-area: bottomLeft;
  }
  #three {
    grid-area: bottomRight;
  }
  #four {
    grid-area: nest; 
  }
  #five {
    grid-area: btm;
  }
  #nested {
    display: grid; 
    grid-template-columns: 90vw; 
    border: 3px purple dashed;
    
  }
  #navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  }
  
  .nestedbox {
    display: flex;
    justify-content: center;
    margin: 10px; 
    border: 2px green solid; 
  }
}
  

@media (min-width: 601px) {
#container {
  display: grid; 
  width: 90vw;
  margin: auto;
  grid-template-columns: 60vw 30vw; /*be sure to split the width equally*/
  grid-template-rows: 45vh 45vh 45vh 45vh; 
  grid-template-areas: 
  "top top"
  "bottomLeft bottomRight"
  "nest nest"
  "btm btm"
  ; 
  border: 1px red solid; 
  justify-content: center;
}

.box {
  border: 1px black solid; 
  display: flex; 
  justify-content: center; 
}
#navbar {
  position: fixed; 
  overflow: hidden; 
}

#one {
  grid-area: top;
  padding-top: 100px; 
}
#two {
  grid-area: bottomLeft;
}
#three {
  grid-area: bottomRight;
}
#four {
  grid-area: nest; 
}
#five {
  grid-area: btm;
}
#nested {
  display: grid; 
  grid-template-columns: 30vw 30vw 30vw; 
  border: 3px purple dashed;
  
}
#navbar a {
float: left;
display: block;
text-align: center;
padding: 14px;
text-decoration: none;
}

.nestedbox {
  display: flex;
  justify-content: center;
  margin: 10px; 
  border: 2px green solid; 
}
}