@import "./header-footer.css"; 
@import "./blog-cards.css"; 
@import "./blog-pages.css"; 


body {
  background-color: #38E; 
}

/*Display for small screens*/
.container {
  display: grid;
  width: 90%;  /*90% of view width*/
  margin: auto; 
  grid-template-columns: 850px;
  grid-template-rows: 50px 250px 1fr;
  grid-template-areas:
  "info-row"
  "main"
  "coming-soon";
  justify-content: center;
}

.box {
  border: 2px red solid; 
}

/*Styles for nested grid in main content */
#nested-grid {
  display: grid; 
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  margin: auto; 
  border: 1px white solid; 
}

/* .info-box {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border: 1px purple solid; 
  height: 50px; 
  width: 50px; 
} */



/*media query breakpoints*/
